<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
                            {% for slider in sliders %}
                            	<li data-target="#slider-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                            {% endfor %}
						</ol>

						<div class="carousel-inner">

							{% for slider in sliders %}
								<div class="item {% if forloop.first %}active{% endif %}">
								<div class="col-sm-6">
									<h1><span>SHOP</span>CENTER</h1>
									<h2>{{ slider.title }}</h2>
									<p>{{ slider.description }}</p>
									<a href="{{ slider.url }}" class="btn btn-default get">{{ slider.url_title }}</a>
								</div>
								<div class="col-sm-6">
									<img src="{{ slider.image.url }}" class="girl img-responsive" alt="" />
								</div>
							</div>
							{% endfor %}



						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->